body
{
 font-style: italic;
}

#menu{
    z-index:3;
    width:100%;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #99ccff;
    border-radius:30px;
    }

.menu li {
	float: left;
    text-align: center;
    padding: 8px;
    color: #ffffff;
    border-radius:30px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   
}

.menu li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius:30px;


}


.menu li:hover {
    background-color:#b3d9ff;

}
.active{
    background-color:#0066cc;
}


.menu li:active{
    background-color: green;
}
.heading
{
	background-color: yellow;
	color: green;
	display:block;
	text-align:center;
}
.listHeading
{
	color: coral;
	
}
.list
{
	background-color: #ccffcc;
	display:block;
	text-align:center-left;
	
}

}
@media only screen and (min-width: 600px) {
    .pic1 {
       display:block;
		text-align:center;
		height:60%;
		width:600px;
    }
